@tailwind base;
@tailwind components;
@tailwind utilities;

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 2px;
  --organic-arrow-border-radius: 3px;
  --organic-arrow-height: 14px;
  --organic-arrow-color: #538bd5;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #62a4fa;
  --control-bullet-active-color: #538bd5;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}
